{% extends "uds/admin/tmpl/fld/form-group.html" %}
{% load i18n %}
{% block field %}{% verbatim %}
    <input name="{{ name }}_nonused1" type="text" id="{{ name }}_field_txt" class="form-control cursor-pointer" value="{{ truncatechars 64 value }}" readonly>
    {{! We use a Select to get an array of selected values on ".val()" }}
    <select id="{{ name }}_field_hdn" class="{{ css }} hidden" name="{{ name }}" multiple>
    {{# each value }}
        <option selected>{{ this }}</option>
    {{/ each }}
    </select>
{% endverbatim %}{% comment %}<script>/*This is a little trick to make IDE recognize sintax hightlight, will not be show on render :-)*/{% endcomment %}

{% verbatim %}{{# javascript }}
(function(){
    "use strict";
    var id = '{{ name }}_field_';
    var idTxt = '#' + id + 'txt';
    var idHidden = '#' + id + 'hdn';
    $(idTxt).tooltip({
        placement: 'bottom',
        title: "{% endverbatim %}{% trans 'Click to edit list' %}{% verbatim %}",
        delay: { show: 500, hide: 100 },
    });
    $(idTxt).click(function(){
        var content = api.templates.evaluate('tmpl_fld_editlist_popup', {
            id: id,
            values: $(idHidden).val(),
        });
        
        var formId = '#' + id + '_form';
        var textId = '#' + id + '_text';
        var addId = '#' + id + '_add';
        var delId = '#' + id + '_del';
        var delAllId = '#' + id + '_del_all';
        var selectId = '#' + id + '_select';
        
        var modalId = gui.launchModal(gettext('Edit list'), content);
        
        $(addId).click(function(){
            if( $(textId).val() != '' ) {
 	  			$(selectId).val([]);
 	  			$.each($(textId).val().split(','), function(index, value) {
  	           		$(selectId).append('<option selected>' + value + '</option>');
 	  			});
            }
            $(textId).val(''); 
        });
        
        $(delAllId).click(function(){
           $(selectId).empty(); 
        });
        
        $(delId).click(function(){
       		$(selectId + ' option:selected').remove();
        });
        
        $(formId).submit(function(){
            if( $(textId).val() != '' )
                $(addId).click();
            return false;
        });
        
        $(modalId + ' .button-accept').click(function(){
            $(idHidden).empty();
            var txtArray = [];
            $(selectId + ' option').each(function(index, element){
               $(idHidden).append('<option selected>' + element.text + '</option>');
               txtArray.push(element.text);
            });
            gui.doLog(txtArray);
            var txt = txtArray.join(',').substring(0, 64);
            $(idTxt).val(txt);
            $(modalId).modal('hide');
        });
    });
}());
{{/ javascript }}{% endverbatim %}
{% comment %}</script>{% endcomment %}

{% endblock %}
