{% extends "uds/admin/tmpl/fld/form-group.html" %}
{% load i18n %}
{% block field %}{% verbatim %}
    <div id="tags{{ id }}" tabindex="{{ index }}">
    </div>

    {{# unless readonly }}
    <span class="label label-success tag tagadder" id="adder{{ id }}">{% endverbatim %}{% trans 'Add Tag...' %}{% verbatim %}</span>
    {{/ unless }}

    <input id="h{{ id }}" type="hidden" data-uds="commaList" name="{{ name }}" value="{{ value }}" class="{{ css }}" />

{% endverbatim %}
{% comment %}<script>/*This is a little trick to make IDE recognize sintax hightlight, will not be show on render :-)*/{% endcomment %}

{% verbatim %}{{# javascript }}
(function(){
    "use strict";

    var $data = $('#h{{ id }}');
    var $tags = $('#tags{{ id }}');

    function tag(text) {
        {{# if readonly }}
        return '<span class="label label-default tag"><b class="tag">' + text + '</b></span>';
        {{ else }}
        return '<span class="label label-default tag"><i class="fa fa-close closeable tag_eliminator"></i> <b class="tag">' + text + '</b></span>';
        {{/ if }}
    }

    {{# unless readonly }}
    function setEvents() {
        $('i.tag_eliminator').on('click', function() {
            var $this = $(this);
            var val = $this.parent().find('b.tag').text();
            gui.forms.confirmModal(val, gettext('Are you sure to remove tag?'), {
                onYes: function() {
                    removeTag(val);
                }
            });
        })
    }

    // Tagadder never gets destroyed, so we only set the event once
    $('#adder{{ id }}').on('click', function(){
        gui.forms.promptModal('Tag', gettext('Enter new tag'), {
            onAccept: function(text) {
                text = api.tools.cleanWhiteSpaces(text);
                if( text == '')
                    return;

                $.each( text.split(','), function (idx, value) {
                    addTag(value);
                });
            }
        });
    });

    {{/ unless }}

    function updateVisibleTags() {
        $tags.empty()
        if ($data.val() != '')  // No values
            $.each($data.val().split(','), function(idx, val) {
                $tags.append(tag(val));
                gui.doLog(idx, val);

            })
        {{# unless readonly }}setEvents(){{/ unless }}
    }

    function addTag(text) {
        var curr;
        var found = false;

        text = text.split(' ').join(''); // Remove white spaces
        
        text = api.tools.capitalize(text);

        if ($data.val() == '')  // No values
            curr = [text];
        else {
            curr = $data.val().split(',');

            $.each(curr, function(idx, val){
                if( val == text) {
                    found = true;
                }
            })
            if( !found )
                curr.push(text);
        }
        $data.val(curr.join(','));
        updateVisibleTags();
    }

    function removeTag(text) {
        var curr;

        text = api.tools.capitalize(text);

        if ($data.val() != '')  // No values
            curr = $data.val().split(',');
        else
            curr = [];

        $data.val('');
        updateVisibleTags();

        gui.doLog(curr);
        $.each(curr, function(idx, val){
            if( val != text )
                addTag(val);
        });
    }

    // Start showing current tags
    updateVisibleTags();

}());



{{/ javascript }}{% endverbatim %}
{% comment %}</script>{% endcomment %}

{% endblock %}
