<!doctype html>
<html lang="en" data-ng-app="udsClientApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link href="_static_/css/uds.css" rel="stylesheet" />

    <script src="/jsi18n"></script>
    <script src="/_static_/js/lib/jquery.min.js"></script>
    <script src="/_static_/js/lib/popper.min.js"></script>
    <script src="/_static_/js/lib/bootstrap.min.js"></script>
    
    <script src="/_static_/js/lib/angular.min.js"></script>
    <script src="/_static_/js/lib/angular-cookies.min.js"></script>

    <script src="/_static_/js/uds.js"></script>
  </head>
  <body>

      <div class="container">
          <div class="row" id="login" data-ng-controller="LoginController">
              <div class="col-md-4 col-md-offset-4">
                  <h1 class="text-center login-title">Bienvenido a UDS 2.2.0</h1>
                  <div class="account-wall">
                    <img class="profile-img" src="/_static_/img/login-img.png" alt="">
                      <form id="loginform" class="form-signin" name="loginform" method="post">
                
                        <input name="csrfmiddlewaretoken" value="En0H2UeVnv9QQjVBjQnPoN7ivaQ8LeSb" type="hidden">
                  
                  <input id="id_standard" name="standard" value="1" type="hidden">
                  
                  <input id="id_nonStandard" name="nonStandard" type="hidden">
                  
                  <input id="id_logouturl" name="logouturl" type="hidden">
                  
                  <div class="form-group">
                      <input id="id_user" name="user" class="form-control" placeholder="Nombre de usuario" autofocus="" required="" type="text">
                      <input id="id_password" name="password" class="form-control" placeholder="Contraseña" required="" type="password">
                  </div>

                  <div class="form-group" data-ng-show="authenticators.length > 1">
                      <label>Authenticator</label>
                      <div class="dropdown clearfix">
                      <button class="btn btn-secondary dropdown-toggle" type="button" 
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="min-width:auto;width:100%;"
                      >
                        {{ selected.auth }}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width:auto;width:100%;">
                          <h6 class="dropdown-header">Dropdown header</h6>
                        <a data-ng-repeat="auth in authenticators" class="dropdown-item" href="#" data-ng-click="authChanged(auth)">{{ auth.auth }}</a>
                      </div>
                    </div>
                  </div>
                  
                  <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="fa fa-sign-in"></span> Inicie sesión</button>
                <div id="nonStandard" style="display: none">
                  <div id="nonStandardLogin" class="form">
                    non standard logins
                  </div>
                  <div id="divBackToLogin">
                    <a href="#" id="backToLogin" title="Volver a iniciar sesión">Volver a iniciar sesión</a>
                  </div>
                </div>
                      </form>
                  </div>
              </div>
          </div>
        <div class="row" id="customHtml">
            
            
            
        </div>
      </div>
  

  </body>
</html>
