<!doctype html>
<html lang="en" data-ng-app="udsClientApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link href="_static_/css/uds.css" rel="stylesheet" />

    <!-- lang related -->
    <script src="/jsi18n"></script>
    <script src="/_static_/js/lib/jquery.min.js"></script>
    <script src="/_static_/js/lib/popper.min.js"></script>
    <script src="/_static_/js/lib/bootstrap.min.js"></script>
    
    <script src="/_static_/js/lib/angular.min.js"></script>

    <!-- uds libraries -->
    <script src="/_static_/js/uds/params.js"></script>
    <script src="/_static_/js/uds/API.js"></script>
    
    <script src="/_static_/js/login.js"></script>
    <!-- AUTHS -->
    <!-- All of this will be translated on production, se we can replace it with server generated variables on production -->
    <script type="text/javascript">
    var authenticators = [
      {
          "priority": -2,
          "authId": "9803FC06-D8B3-5F11-9A6E-EEC905C017FD",
          "auth": "Interna",
          "authSmallName": "int",
          "type": "InternalDBAuth",
          "isCustom": false
      },
      {
          "priority": 1,
          "authId": "fbf0727a-e754-5f17-a0fd-bd8c1850b355",
          "auth": "AD",
          "authSmallName": "ad",
          "type": "ActiveDirectoryAuthenticator",
          "isCustom": false
      },
      {
          "priority": 1,
          "authId": "9EB0689D-DF66-54FF-8E7A-3C11E3F42A1A",
          "auth": "different",
          "authSmallName": "differ",
          "type": "InternalDBAuth",
          "isCustom": false
      },
      {
          "priority": 1,
          "authId": "53a53965-8a90-5e3b-96c4-91937d0042f0",
          "auth": "Ldap AD por RegEx",
          "authSmallName": "read",
          "type": "RegexLdapAuthenticator",
          "isCustom": false
      },
      {
          "priority": 1,
          "authId": "729b2db5-115f-5aa6-8c0a-32f3fbacf1d4",
          "auth": "Ldap AUTH",
          "authSmallName": "sldap",
          "type": "SimpleLdapAuthenticator",
          "isCustom": false
      },
      {
          "priority": 1,
          "authId": "4A574A66-65DD-5B6B-8D6F-5A53B95A0A58",
          "auth": "LDAP UCA",
          "authSmallName": "luca",
          "type": "RegexLdapAuthenticator",
          "isCustom": false
      },
      {
          "priority": 1,
          "authId": "9f111569-d608-5426-b9f7-a9b4b928fd2d",
          "auth": "Red invalida",
          "authSmallName": "inval",
          "type": "IPAuth",
          "isCustom": true
      },
      {
          "priority": 1,
          "authId": "8bbd4337-5eb1-5de5-88b5-203cdcc85ec2",
          "auth": "SAML Louvain",
          "authSmallName": "louvain",
          "type": "SAML20Authenticator",
          "isCustom": true
      },
      {
          "priority": 1,
          "authId": "cd996fec-fd5a-59eb-9eb4-ec28af3cc8f7",
          "auth": "SAMLOCAL",
          "authSmallName": "saml",
          "type": "SAML20Authenticator",
          "isCustom": true
      },
      {
          "priority": 1,
          "authId": "3EAC3F30-0148-5041-986D-CE25737FEF81",
          "auth": "test",
          "authSmallName": "test",
          "type": "InternalDBAuth",
          "isCustom": false
      },
      {
          "priority": 2,
          "authId": "3613aa7e-e32a-5d05-bcfe-4e2c3e735ee3",
          "auth": "Casa",
          "authSmallName": "casa",
          "type": "IPAuth",
          "isCustom": true
      }
  ];    
  </script>
    <!-- END_AUTHS -->
  </head>
  <body>

      <div class="container">
          <div class="row" id="login" data-ng-controller="LoginController as login">
              <div class="col-md-4 col-md-offset-4">
                  <h1 class="text-center login-title"><trans>Welcome to UDS Enterprise</trans></h1>
                  <div class="account-wall">
                    <img class="profile-img" src="/_static_/img/login-img.png" alt="">
                      <form id="loginform" class="form-signin" name="loginform" method="post">
                  
                  <input id="id_standard" name="standard" value="1" type="hidden">
                  
                  <input id="id_nonStandard" name="nonStandard" type="hidden">
                  
                  <input id="id_logouturl" name="logouturl" type="hidden">
                  
                  <div class="form-group">
                      <input id="id_user" name="user" class="form-control" placeholder="Nombre de usuario" autofocus="" required="" type="text">
                      <input id="id_password" name="password" class="form-control" placeholder="Contraseña" required="" type="password">
                  </div>

                  <div class="form-group" data-ng-show="login.authenticators.length > 1">
                      <label>Authenticator</label>
                      <div class="dropdown clearfix">
                      <button class="btn btn-secondary dropdown-toggle" type="button" 
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="min-width:auto; width:100%;"
                      >
                        {{ login.selected.auth }}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width:auto;width:100%;">
                          <h6 class="dropdown-header"><trans>Authenticators</trans>></h6>
                        <a data-ng-repeat="auth in login.authenticators" class="dropdown-item" href="#" data-ng-click="login.authChanged(auth)">{{ auth.auth }}</a>
                      </div>
                    </div>
                  </div>
                  
                  <button id="do_login" class="btn btn-lg btn-primary btn-block" data-ng-click="login.doLogin()"><span class="fa fa-sign-in"></span><trans>Sign in</trans></button>

                <div id="nonStandard" style="display: none">
                  <div id="nonStandardLogin" class="form">
                    non standard logins
                  </div>
                  <div id="divBackToLogin">
                    <a href="#" id="backToLogin" title="Volver a iniciar sesión">Volver a iniciar sesión</a>
                  </div>
                </div>
                      </form>
                  </div>
              </div>
          </div>
        <div class="row" id="customHtml">
            
            
            
        </div>
      </div>
  

  </body>
</html>
