$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 60px;
}

.st-sticky-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  /* Change height. Can use px, ems or % */
}

.st-sticky-push {
  height: 40px;
  /* Change height. Can use px, ems or % */
}

footer {
  height: 40px;
  /* Change height. Can use px, ems or % */
  text-align: right;
  margin-right: 16px;
  a:after {
    content: "Testing text";
  }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  .form-signin-heading {
    margin-bottom: 10px;
  }
  margin-bottom: 10px;
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
      z-index: 2;
    }
  }
  input {
    &[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
}

/* Preferences form */

.form-preferences {
  margin-bottom: 10px;
  max-width: 640px;
  margin: 0 auto;
  legend {
    margin-top: 20px;
    padding-left: 16px;
    background-color: #e7e7e7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .prefset {
    padding: 10px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .btn {
    margin-top: 16px;
  }
}

.navbar-img {
  width: 2em;
  margin-top: -8px;
}

#cookie-bar {
  background: #333333;
  height: 30px;
  line-height: 24px;
  color: #eeeeee;
  text-align: center;
  padding: 3px 0;
  &.fixed {
    background: #333333;
    height: 30px;
    line-height: 24px;
    color: #eeeeee;
    text-align: center;
    padding: 3px 0;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
  }
  p {
    margin: 0;
    padding: 0;
  }
  a {
    color: #ffffff;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 6px;
    margin-left: 8px;
  }
  .cb-enable {
    background: #007700;
    &:hover {
      background: #009900;
    }
  }
  .cb-disable {
    background: #990000;
    &:hover {
      background: #bb0000;
    }
  }
  .cb-policy {
    background: #0033bb;
    &:hover {
      background: #0055dd;
    }
  }
}