*.pyc
*.pyo
*.orig
*~
*.swp
.DS_Store
*_enterprise.*
.settings/
.ipynb_checkpoints
.idea/

# Debian buildings
*.debhelper*
*-stamp
*.substvars
.coverage*

# /server/
*_enterprise

# /server/src/
/server/src/taskmanager.pid
/server/src/testing
/server/src/*_enterprise*

# /server/src/log/
/server/src/log/uds.log.*
/server/src/log/sql.log.*
/server/src/log/*.log.*

# /server/src/server/
/server/src/server/settings.py
/server/src/server/*_enterprise.py
/server/src/server/enterprise*

# /server/src/static/
/server/src/static/cache

# /server/src/uds/
/server/src/uds/*_enterprise.py
/server/src/uds/fixtures

# /server/src/uds/auths/
/server/src/uds/auths/*-enterprise
/server/src/uds/auths/*_enterprise

# /server/src/uds/core/util/
/server/src/uds/core/util/*enterprise.py

# /server/src/uds/dispatchers/
/server/src/uds/dispatchers/*_enterprise

# /server/src/uds/locale/
/server/src/uds/locale/*.sh

# /server/src/uds/management/commands/
/server/src/uds/management/commands/*_enterprise.py

# /server/src/uds/models/
/server/src/uds/models/enterprise*

# /server/src/uds/plugins/
/server/src/uds/plugins/enterprise*

# /server/src/uds/services/
/server/src/uds/services/*-enterprise
/server/src/uds/services/*_enterprise

# /server/src/uds/static/adm/css/
/server/src/uds/static/adm/css/admin.min.css

# /server/src/uds/static/adm/js/
/server/src/uds/static/adm/js/admin.min.js

# /server/src/uds/templates/uds/admin/
/server/src/uds/templates/uds/admin/sample.html

# /server/src/uds/transports/
/server/src/uds/transports/*-enterprise

.vscode
.mypy_cache
.pytest_cache
.python-version

target/
server/test-vars.ini
