{% extends "uds/semantic/templates/base.html" %}
{% load i18n html5 REST static %}
{% block title %}{% trans 'Available services list' %}{% endblock %}

{% block body %}
<div class="ui container">
  {% if groups|length > 1 %}
  <div class="ui top attached tabular menu">
  {% for grp in groups %}
    <a class="tab {% if forloop.first %}active{% endif %} item" data-group="{{ grp.name }}">
        <img src="{% url 'galleryImage' grp.imageUuid %}" class="ui image mini">
            {{ grp.name }}
    </a>
  {% endfor %}
  </div>
  {% endif %}
  <div class="ui bottom attached segment">
    <p></p>
  </div>

  {% if user.isStaff %}
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i> {% trans "Administrator info" %}
  </h4>
  <div class="ui segment">
    {% with request.ip_proxy|add:",No Proxy" as proxy %}
      <p>{% trans "Ip" %}: {{ request.ip }}, {{ request.is_proxy|yesno:proxy }}</p>
    {% endwith %}
    <p>{% trans "Networks" %}: {{ nets }}</p>
    <p>{% trans "Transports" %}: {{ transports }}</p>
    <p>{% trans "User Agent" %}: {{ request.META.HTTP_USER_AGENT }}</p>
    <p>{% trans "Browser Info" %}: {{ request.os }}</p>
  </div>
  <div class="trans-placeholder">
    <p></p>
  </div>

  <div class="ui basic modal info">
    <i class="close icon"></i>
    <div class="header info">
      <p></p>
    </div>
    <div class="image content">
      <div class="description info">
        <p></p>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}

{% block jsnc %}
<!-- preloading of templates -->
{% js_template_path 'uds/semantic/tmpl' %}
{% js_template 'items' %}
{% js_template 'trans' %}
{% endblock %}

{% block js %}
<script>
var itemsTemplate = null;
var transTemplate = null;

var groups = {
{% for grp in groups %}
  "{{ grp.name|escape }}": {
    "items": [
      {% for ser in services %}
      {% if ser.group.name == grp.name and ser.transports %}
      {
        "maintenance": {{ ser.maintenance|yesno:"true,false" }},
        "not_accesible": {{ ser.not_accesible|yesno:"true,false" }},
        "in_use": {{ ser.in_use|yesno:"true,false" }},
        "show_transports": {{ ser.show_transports|yesno:"true,false" }},
        "name": "{{ ser.name|escape }}",
        "description": "{{ ser.description|escape }}",
        "image": "{% url "uds.web.views.serviceImage" idImage=ser.imageId %}",
        "transports": [{% for trans in ser.transports %}{
          "name": "{{ trans.name }}",
          "link": "{{ trans.link }}",
          "image": "{% url "uds.web.views.transportIcon" idTrans=trans.id %}"
        },{% endfor %}],
      },
      {% endif %}
      {% endfor %}
    ]
  },
{% endfor %}
};

function getUrlVars() {
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

function launch(el, url, alt) {
    if ( url.substring(0, 7) == 'udsa://' ) {
        uds.launch(el, url, alt);
    } else {
        window.location = url;
    }
}

function showInfo(title, message) {
  $('.header.info').html(title);
  $('.description.info').html(message);
  $('.modal.info').modal('show');
}

function canLaunch(item) {
  if( item.not_accesible == true ) {
    alert("Inaccesible");
  } else if(  item.maintenance == true ) {
    showInfo('{% trans "In maintenance" %}', '{% trans "The service is currently in maintenance and cannot be accessed." %}');
  } else {
    return true;
  }
  return false;
}

function showSelectedTabItems() {
  {% if groups|length > 1 %}
  var gName = $(".tab.active").attr('data-group');
  {% else %}
  var gName = "{{ groups.0.name }}";
  {% endif %}
  $('.attached.segment').html(itemsTemplate({
    'data': groups[gName].items
  }));

  // $(".card").off();
  $(".card").on('click', function(){
    var gName = $('.tab.item.active').attr('data-group');
    var index = $(this).attr('data-item');
    var item = groups[gName].items[index];
    if( canLaunch(item) == false ) {
      return;
    }
    launch($(this), item.transports[0].link, "{% url 'uds.web.views.client_downloads' %}");
  });

  $('.show-transports').on('click', function(event){
    var card = $(this).parent().parent();
    event.preventDefault();
    event.stopPropagation();
    var gName = $('.tab.item.active').attr('data-group');
    var index = $(this).closest('.card').attr('data-item');
    var item = groups[gName].items[index];
    if( canLaunch(item) == false ) {
      return;
    }
    // alert(groups[gName].items[index].transports[0]);
    // Remove all previous modals
    $('.ui.small.basic.modal').remove();
    $('.trans-placeholder').html(transTemplate({
      'data': item.transports
    }));
    $('.modal.transport')
      .modal({
        closable: true,
        transition: "fly left",
        offset: "",
        onVisible: function() {
          var $modal = $(this);
          $('.transport-link').on('click', function(ev){
            ev.preventDefault();
            ev.stopPropagation();
            $modal.modal('hide');
            launch(card, $(this).attr('data-link'), "{% url 'uds.web.views.client_downloads' %}");
          });
        }
      })
      .modal('show')
    ;
  });

}

// Ready function
$(function(){
  itemsTemplate = Handlebars.compile($("#tmpl_items").html());
  transTemplate = Handlebars.compile($("#tmpl_trans").html());

  $('.modal.info').modal({
    closable: true,
    transition: "horizontal flip",
    offset: "",
  });

  showSelectedTabItems();
  $(".tab.item").on('click', function(){
    $(".tab").removeClass('active');
    $(this).addClass('active');
    showSelectedTabItems();
  });
});
</script>
{% endblock %}
