{% extends "uds/semantic/templates/base.html" %}
{% load i18n html5 REST static %}
{% block title %}{% trans 'Available services list' %}{% endblock %}

{% block body %}
<div class="ui container">
  <div class="ui top attached tabular menu">
  {% for grp in groups %}
    <a class="tab {% if forloop.first %}active{% endif %} item" data-group="{{ grp.name }}">
        <img src="{% url 'galleryImage' grp.imageUuid %}" class="ui image mini">
            {{ grp.name }}
    </a>
  {% endfor %}
  </div>
  <div class="ui bottom attached segment">
    <p></p>
  </div>

  {% if user.isStaff %}
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i> {% trans "Administrator info" %}
  </h4>
  <div class="ui segment">
    <p>{% trans "Ip" %}: {{ ip }}</p>
    <p>{% trans "Networks" %}: {{ nets }}</p>
    <p>{% trans "Transports" %}: {{ transports }}</p>
    <p>{% trans "User Agent" %}: {{ request.META.HTTP_USER_AGENT }}</p>
    <p>{% trans "OS" %}: {{ request.session.OS.OS }}</p>
  </div>
  {% endif %}

</div>

{% endblock %}

{% block jsnc %}
<!-- preloading of templates -->
{% js_template_path 'uds/semantic/tmpl' %}
{% js_template 'items' %}
{% endblock %}

{% block js %}
<script>
var itemsTemplate = null;
var groups = {
{% for grp in groups %}
  "{{ grp.name }}": {
    "items": [
      {% for ser in services %}
      {% if ser.group.name == grp.name and ser.transports %}
      {
        "maintenance": {{ ser.maintenance|yesno:"true,false" }},
        "not_accesible": {{ ser.not_accesible|yesno:"true,false" }},
        "in_use": {{ ser.in_use|yesno:"true,false" }},
        "show_transports": {{ ser.show_transports|yesno:"true,false" }},
        "name": "{{ ser.name|escape }}",
        "description": "{{ ser.description|escape }}",
        "image": "{% url "uds.web.views.serviceImage" idImage=ser.imageId %}",
        "transports": [{% for trans in ser.transports %}{
          "name": "{{ trans.name }}",
          "link": "{{ trans.link }}",
          "image": "{% url "uds.web.views.transportIcon" idTrans=trans.id %}"
        },{% endfor %}],
      },
      {% endif %}
      {% endfor %}
    ]
  },
{% endfor %}
};

function showSelectedTabItems() {
  var gName = $(".tab.active").attr('data-group');
  $('.attached.segment').html(itemsTemplate({
    'data': groups[gName].items
  }));
}

// Ready function
$(function(){
  itemsTemplate = Handlebars.compile($("#tmpl_items").html());

  showSelectedTabItems();
  $(".tab.item").on('click', function(){
    $(".tab").removeClass('active');
    $(this).addClass('active');
    showSelectedTabItems();
  });
});
</script>
{% endblock %}
