.widget
{
    background: #fff;
    border: 1px solid #c1c1c1;
    margin: 0 auto 20px;
    position: static;
}
.widget .tab-content
{
    padding: 0;
}
.widget .widget-head
{
    background-color: #f8f8f8;
    background-image: linear-gradient(to bottom, #f8f8f8, #ededed);
    background-image: -moz-linear-gradient(top, #f8f8f8, #ededed);
    background-image: -o-linear-gradient(top, #f8f8f8, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#ededed));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #ededed);
    background-repeat: repeat-x;
    border-bottom: 1px solid #c1c1c1;
    color: #000;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 0;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.widget .widget-head.progress
{
    border-radius: 0 0 0 0;
    margin: 0;
    moz-border-radius: 0 0 0 0;
    padding: 0;
    webkit-border-radius: 0 0 0 0;
}
.widget .widget-head .glyphicons
{
    height: 40px;
    padding: 0;
    width: 30px;
}
.widget .widget-head .fai:before
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    height: 40px;
    line-height: 31px;
    text-align: center;
    width: 30px;
}
.widget .widget-head .heading
{
    color: #45484d;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 15px;
}
.widget .widget-head .heading.glyphicons
{
    display: block;
    padding: 0 0 0 35px;
    width: auto;
}
.widget .widget-head .heading.fai:before
{
    color: #45484d;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 35px;
}
.widget .widget-head a
{
    text-shadow: none;
}
.widget .widget-head .dropdown-menu li>a:hover,.widget .widget-head .dropdown-menu li>a:focus,.widget .widget-head .dropdown-submenu:hover>a
{
    background-color: #47759e;
    background-image: linear-gradient(to bottom, #47759e, #d24343);
    background-image: -moz-linear-gradient(top, #47759e, #d24343);
    background-image: -o-linear-gradient(top, #47759e, #d24343);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47759e), to(#d24343));
    background-image: -webkit-linear-gradient(top, #47759e, #d24343);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda4c4c', endColorstr='#ffd24343', GradientType=0);
}
.widget .details
{
    color: #45484d;
    font-size: 8pt;
}
.widget .widget-body
{
    padding: 20px 15px;
}
.widget .widget-body form
{
    margin: 0;
}
.widget .widget-body .count
{
    font-size: 15pt;
    font-weight: 400;
}
.widget .widget-body>p:last-child
{
    margin: 0;
}
.widget .widget-body.list
{
    color: #575655;
    padding: 0;
}
.widget .widget-body.list ul
{
    list-style: none;
    margin: 0;
}
.widget .widget-body.list ul li
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    clear: both;
    height: 39px;
    line-height: 39px;
    padding: 0 10px;
    text-align: left;
}
.widget .widget-body.list ul li:first-child
{
    border-top: none;
}
.widget .widget-body.list ul li:last-child
{
    border-bottom: none;
}
.widget .widget-body.list ul li .count
{
    color: #47759e;
    float: right;
}
.widget .widget-body.list ul li .sparkline
{
    margin-left: 5px;
    position: relative;
    top: 5px;
}
.widget .widget-body.list.products li
{
    height: 60px;
    line-height: 60px;
}
.widget .widget-body.list.products .img
{
    background: #272729;
    border-radius: 3px 3px 3px 3px;
    color: #818181;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 10pt;
    font-weight: 600;
    height: 44px;
    line-height: 44px;
    margin: 8px 8px 0 0;
    moz-border-radius: 3px 3px 3px 3px;
    text-align: center;
    webkit-border-radius: 3px 3px 3px 3px;
    width: 48px;
}
.widget .widget-body.list.products .title
{
    display: inline-block;
    font-family: "Raleway",sans-serif;
    line-height: normal;
    padding: 13px 0 0;
    text-transform: uppercase;
}
.widget .widget-body.list.products .title strong
{
    font-family: "Open Sans",sans-serif;
    text-transform: none;
}
.widget .widget-body.list.fluid ul li
{
    height: auto;
    line-height: normal;
    padding: 10px;
}
.widget .widget-body.list.list-2 ul li
{
    background: #f8f8f8;
    border-bottom: 1px solid #d8d9da;
    border-top: none;
}
.widget .widget-body.list.list-2 ul li.active
{
    background: #fff;
    border-color: #dddddd;
}
.widget .widget-body.list.list-2 ul li.active i:before
{
    background: #47759e;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
}
.widget .widget-body.list.list-2 ul li.active a
{
    color: #47759e;
}
.widget .widget-body.list.list-2 ul li:last-child
{
    border-bottom: none;
}
.widget .widget-body.list.list-2 ul li a
{
    color: #222;
    display: block;
    padding: 0 0 0 30px;
}
.widget .widget-body.list.list-2 ul li a i:before
{
    background: #dddddd;
    border: 1px solid #ccc;
    color: #555;
    font-size: 14px;
    height: 17px;
    left: 0;
    padding-top: 3px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    top: 9px;
    vertical-align: middle;
    width: 20px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu
{
    height: auto;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul
{
    padding: 0 0 10px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li
{
    background: none;
    border: none;
    height: auto;
    line-height: 20px;
    line-height: normal;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li a
{
    color: #333;
    padding: 0 0 0 20px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li.active a
{
    font-weight: bold;
}
.widget .widget-footer
{
    background: #f7f7f7;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #e6e6e6;
    height: 25px;
    line-height: 25px;
}
.widget .widget-footer .fa
{
    float: right;
    height: 25px;
    line-height: 25px;
    padding: 0;
    width: 25px;
}
.widget .widget-footer .fa i:before
{
    color: #c3c3c3;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 20px;
}
.widget .widget-footer .fa:hover i:before
{
    color: rgba(0, 0, 0, 0.5);
}
.widget.margin-bottom-none
{
    margin-bottom: 0;
}
.widget.widget-gray
{
    background: #f5f5f5;
}
.widget.widget-gray .widget-head
{
    background: #e9e9e9;
    border-color: #d1d2d3;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),inset -1px -1px 1px rgba(0, 0, 0, 0);
    moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),inset -1px -1px 1px rgba(0, 0, 0, 0);
    webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.widget.widget-gray .widget-head .heading
{
    color: #555555;
    text-shadow: 0 1px 0 #fff;
}
.widget.widget-gray .widget-head .heading.fai:before
{
    background: none;
    border-color: rgba(0, 0, 0, 0.1);
    color: #555;
}
.widget.widget-body-white .widget-body
{
    background: #fff;
}

.widget-icon {
    margin-left: 0.6em !important;
    cursor: pointer;
}
