{% extends "uds/html5/templates/base.html" %}
{% load i18n %}

{% block body %}

<div class="jumbotron">
  <h2 class="text-center">Universal Desktop Services</h2>
  <p class="text-center"><small><a href="http://www.udsenterprise.com" target="_blank"> &copy; 2012-2014 Virtual Cable S.L.U.</a></small></p>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>{% trans 'You can access UDS opensource code at' %} <a href="http://www.openuds.org" target="_blank">OpenUDS</a></p>
    <p><h3>{% trans 'UDS has been developed using theese components:' %}</h3></p>
    <ul>
      <li><a href="http://www.eclipse.org" target="_blank">Eclipse</a> as IDE with <a href="http://pydev.org/" target="_blank">pyDev</a></li>
      <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
      <li><a href="http://south.aeracode.org/" target="_blank">South</a></li>
      <li><a href="http://www.jcraft.com" target="_blank">Jsch</a></li>
      <li><a href="http://guac-dev.org/" target="_blank">Guacamole</a> {% trans '(not directly inside UDS, but provided as optional transport as an external component)' %}</li>
      <li><a href="https://github.com/django-compressor/django-compressor" target="_blank">Django compressor</a></li>
      <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
      <li><a href="http://coffeescript.org/" target="_blank">Coffescript</a></li>
      <li><a href="http://sass-lang.com/" target="_blank">Sass</a>/<a href="http://compass-style.org/" target="_blank">Compass</a></li>
      <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
      <li><a href="http://handlebarsjs.com/" target="_blank">Handlebars</a></li>
      <li><a href="https://github.com/carhartl/jquery-cookie" target="_blank">jQuery cookie</a></li>
      <li><a href="http://jqueryvalidation.org/" target="_blank">jQuery validator</a></li>
      <li><a href="http://malsup.com/jquery/block/" target="_blank">jQuery blockui</a></li>
      <li><a href="http://www.flotcharts.org/" target="_blank">flot</a></li>
      <li><a href="https://datatables.net/" target="_blank">jQuery datatables</a></li>
      <li><a href="https://datatables.net/extras/tabletools/" target="_blank">jQuery Datatables tabletools</a></li>
      <li><a href="https://github.com/eligrey/Blob.js/" target="_blank">Blob</a></li>
      <li><a href="https://github.com/eligrey/FileSaver.js/" target="_blank">Filesaver</a></li>
      <li><a href="http://kde-look.org/content/show.php/Crystal+Project?content=60475)" target="_blank">Crystal project</a></li>
    </ul>
    <p><small>* {% trans 'If you found that we missed to mention any component, plese let us know' %}</small></p>
    <p class="text-center"><a href="{% url 'uds.web.views.index' %}" class="btn btn-lg btn-info"><i class="fa fa-home"></i> {% trans "Back" %}</a></p>
  </div>
</div>

{% endblock %}