{% extends "uds/html5/internal_page.html" %}
{% load i18n static html5 %}
{% block js %}
		<script>
		$(function() {
			{% if not java %}
			$('#jmessage').dialog({
				autoOpen: false,
				width: 500,
				buttons: {
					"Ok": function() { 
						$(this).dialog("close"); 
					}
				}
			});
			$("a.nojava").click( function() {
				$('#jmessage').dialog('open');
				return false;
			});
			
			{% endif %}
		});
		</script>
{% endblock %}

{% block body %}
<div id="services"> 
	<h2>{% trans "Services" %}</h2>
	<ul>
	{% for ser in services %}
	  {{ forloop.counter }}
	  {% if ser.transports %}
		<li>
		  {% with trans=ser.transports|first %}
		  <a{% if not java and trans.needsJava %} class="nojava"{% endif %} href="{% url "uds.web.views.service" idService=ser.id idTransport=trans.id %}">{{ ser.name }}</a>
		  {% endwith %}
		  <ul>
		  {% for trans in ser.transports %}
		    <li><a{% if not java and trans.needsJava %} class="nojava"{% endif %} href="{% url "uds.web.views.service" idService=ser.id idTransport=trans.id %}"><img src="{% url "uds.web.views.transportIcon" idTrans=trans.id %}" alt="{{ trans.name }}" />{{ trans.name }}</a></li>
		  {% endfor %}
		  </ul>
		</li>
	  {% endif %}
	{% endfor %}
	</ul>
</div>
{% if not java %}
<div id="jmessage" title="{% trans "Java not found" %}">
	<p>{% trans "Java is not available on your browser, and the selected transport needs it." %}</p>
	<p>{% trans "Please, install latest version from" %} <a href="http://www.java.com">{% trans "Java website" %}</a> {% trans "and restart browser" %}</p>
</div>
{% endif %}

{% if user.isStaff %}
  <div id="adminmsgs">
	<div>{% trans "Ip" %}: {{ ip }}</li>
	<div>{% trans "Networks" %}: {{ nets }}</div>
	<div>{% trans "Transports" %}: {{ transports }}</div>
	</div>
    	 	
  </div>
{% endif %}
{% endblock %} 