{% load l10n i18n static html5 compress %}{% spaceless %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info for LANGUAGE_CODE as LANGUAGE_INFO %}
<!DOCTYPE html>{% endspaceless %}
<html class="no-js" lang='{{LANGUAGE_CODE}}'>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="robots" content="noindex, nofollow" />
		{% block meta %}{% endblock %}

		{% block icon %}<link href="{% get_static_prefix %}img/favicon.png?v=2" rel="icon" type="image/x-icon" />{% endblock %}

		<!-- semantic -->
    {% compress css %}
		<link href="{% get_static_prefix %}semantic/css/semantic.min.css" rel="stylesheet" media="screen">
    <link href="{% get_static_prefix %}semantic/css/uds.css" rel="stylesheet" media="screen">

		{% block css %}{% endblock %}
    {% endcompress %}
	</head>

	<body>
		<!-- Navigation bar -->
	  {% block menu %}{% include 'uds/semantic/snippets/navbar.html' %}{% endblock %}
		{% ifbrowser ie<10 %}
		<div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{% trans 'Your browser is supported only partially. Please, upgrade it to a modern html5 browser like Firefox, Chrome, Opera, ... (IE must be 10 or better, and must also disable "Compatibility View Mode" for this site)' %}
		</div>
		{% endifbrowser %}
		<!-- End of menu -->
    <div class="container uds-content">
 			{% block messages %}
 			{% if messages %}
 			{% for message in messages %}
 			<div class="alert alert-dismissable {{ message.tags }}">
 			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
 			  {{ message }}
 			</div>
 			{% endfor %}
 			{% endif %}
 			{% endblock %}
   		 	<!-- Content -->
			{% block body %}{% endblock %}
  			<!--  End of content -->
    </div>
		<footer class="footer">
			<div class="container">
			{% block footer %}
				<a href="http://www.udsenterprise.com">UDS Enterprise Edition. &copy; 2012-2016 Virtual Cable S.L.U.</a>
			{% endblock %}
			</div>
		</footer>

    <script src="{% url 'uds.web.views.jsCatalog' LANGUAGE_CODE %}"></script>
    {% compress js %}
		<script src="{% get_static_prefix %}semantic/js/jquery.min.js"></script>
		<script src="{% get_static_prefix %}semantic/js/handlebars-v4.0.2.js"></script>
		<script src="{% get_static_prefix %}semantic/js/semantic.min.js"></script>
    <script>
        var clientRest = "/" + "{% url 'ClientAccessEnabler' 'x' 'x' %}".split("/")[1];
        var bypassPluginDetection = "{% preference _uds.bypassPluginDetection %}" == "1";
				$(function() {
					$('.ui.dropdown')
					  .dropdown()
					;
					$('.ui.accordion')
  					.accordion()
					;
				})
    </script>
    <script type="text/coffeescript" charset="utf-8" src="{% get_static_prefix %}js/uds-client.coffee"></script>
		<script src="{% get_static_prefix %}semantic/js/uds.js"></script>
    {% endcompress %}


    {% compress js %}
		{% block js %}{% endblock %}
    {% endcompress %}
		{% block jsnc %}{% endblock %}
	</body>
</html>
