@CHARSET "UTF-8";

body,a{
	font-family:monospace;
	font-size:1em;
	color:#666666;
	
	
}
body{background: url("../img/bg_uds.png") no-repeat center 6em ;}

legend{
	padding:0 2em;
}
ul{
	width:60%;
	text-align:left;
	margin:auto;
}

ul li ul{
	width:100%;
}
ul.archivos li{
	background: url("../img/menos.png") no-repeat scroll 0.5em 0.5em #EDF3E3;
    line-height: 2em;
    margin: 1em 0;
    padding-left: 2.5em;
}
ul.archivos li a{
	font-weight:900;
	display:block;
}
ul.archivos li dfn{
	font-style:italic;
	
}
#backtolist{
	width:100%;
	clear:both;
	margin:4em 0;
}	
#header{
	background:url('../img/bg_barra_superior2.png') repeat-x #000;
	color:#ffffff;
	padding:0.8em;
	text-align:right;
	border-bottom:groove 6px #2b5694; 
	padding-bottom:1em;
	}
	


#header a{color:#ffffff}

#header div{
	display:inline-block;
	padding:0em 0.6em;
	border-right:solid 2px #ffffff;
}

#header img{
	margin:0 0 0 0.4em;
	vertical-align:text-top;}

#header #lang img{
	border: outset 1px #666666;
	
}


#header #lheader{float:left;border:0;}
#lheader a{text-decoration:none;}
#lheader h1{
	font-size:2em;
	margin-top:-0.1em;
	
}
#lheader a span{color:#2b5694}

#header .last{border-right:0}
#header #admin{cursor:pointer;text-decoration:underline;}
#header #admin ul{
	position:absolute;background:#2b5694;padding:1em;width:20em;
	opacity:0.8;
  	filter:alpha(opacity=80);	
  	margin-top:0.51em;
  	list-style:decimal-leading-zero inside url('../img/menos.png');
  	
  	
}
#header #admin ul li a{
	padding-bottom:0.6em;	
	vertical-align: middle;
}

#content{
	text-align:center;
	
	}

/*desde*/
#content form{
	width:40em;
	margin:auto;
	margin-top:4em;
}
#content form fieldset{
	border:solid 1px #2b5694; 
	background:#d5e2ff;
	padding:0 1.2em;
	margin-top:2em;
	position:relative;
	}
#services ul li{
	padding-bottom:1em;
	border:solid 1px #666666;
	background-color:#f1f1f1;
	padding:0;
	margin:1px;
	font-size:1.2em;
	
}
#services ul li a{
	padding-left:1em;

}
#services ul li span{
	display:inline-block;
	width:1em;
	height:1em;
	margin:0.5em 0.5em 0 0;
	float:right;
	color:#F1F1F1;
	background:url('../img/down.png') top right no-repeat;
}

#services ul li span.ampli{
	background:url('../img/up.png') top right no-repeat;
}
#services ul li ul{
	border-top:ridge #2b5694 3px;
}
#services ul li ul li{
	border:0;
	background-color:#f9f9f9;
	
	font-size:0.81em;
}
#services ul li ul li img{
	vertical-align:middle;
	padding-right:0.2em;
}
#services li{
	padding-left:1em;
	line-height:1.8em;
	
}
	
h2{
	background: url("../img/bg_barra_pie.png") repeat-x scroll center top #FFFFFF;
    /*border: 4px groove #2b5694;*/
    border:solid 1px #2b5694;
    color: #2b5694;
    font-size: 1.2em;
    font-weight: 900;
    margin: 2em;
    padding: 0.8em;
    text-align: center;
}

#login fieldset{
	margin:1.2em;
	font-size:1em;
	

}
#login fieldset p,#content form fieldset p{
	width:100%;
	display:inline-block;
	float:left;
	margin:0.51em 0;
	
}
#login fieldset label,#content form fieldset label{
	line-height:2em;
	display:block;
	font-size:1em;
	float:left;
}
input,buttom,select{font-family:monospace;font-size:1em;float:right;width:17em;}
select{
	width:17.4em;
}

input[type=submit]{
	background: url("../img/bg_barra_superior2.png") repeat-x scroll 40px -10px #000000;
    color: #FFFFFF;
    padding: 0.2em 1.2em;
    width: auto;
}

#customHtml {
	margin-top: 4em;
};

#adminmsgs{
	text-align:left;
	margin:auto;
	margin-top:2em;
	padding:2em;
	background:#f2f2f2;
	width:40em;
	border: 1px solid #666666;
}

#footer{
	background: url("../img/bg_barra_pie.png") repeat-x scroll center top #FFFFFF;
    padding:1.6% 2%;
	margin-top:4em;
	text-align:right;
	min-height:1em;
	border-top:groove 2px #2b5694; 
	position:absolute;
	width:96%;
	bottom:0;
	
}

#applet {
	margin:20px 0;
}

/* Sample "info" (footer) text, to be placed after (c) Virtualcable */
/*#vcable:after {
	content: "Testing text";
}*/
