Source: udsactor
Section: contrib/net
Priority: extra
Maintainer: Adolfo Gómez García <agomez@virtualcable.es>
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.9.2
Homepage: http://www.virtualcable.es

Package: udsactor
Architecture: all
Depends: python (>= 2.6), ${misc:Depends}
Description: UDS Actor for Universal Destop Services
 This package provides the actor needed for integration of 
 debian with uds services platform.
