{% extends "uds/html5/templates/base.html" %}
{% load i18n static %}
{% block title %}{% trans 'Page not found' %}{% endblock %}
{% block css %}
        <style>
        .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
        </style>
{% endblock %}
{% block body %}
      <div class="jumbotron center">
          <h1>Ooops<small><font face="Tahoma" color="red">Error 500</font></small></h1>
          <br />
          <p>The server raised an unexpected error, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
          <p><b>Or you could just press this neat little button:</b></p>
          <a href="/" class="btn btn-large btn-info"><i class="fa fa-home"></i> Take Me Home</a>
      </div>
{% endblock %}
