{% load i18n %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% trans 'Accounts' %}</h1>
  </div>
</div><!-- /.row -->
{% if messages %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% verbatim %}
<div class="row">
    <div id="{{ accounts }}" class="col-xs-12"></div>
</div>
<div id="detail-placeholder" class="row hidden">
    <div class="col-xs-12">
        <ul class="bottom_tabs nav nav-tabs">
            <li class="active"><a href="#{{ usage }}_tab" data-toggle="tab">{% endverbatim %}{% trans 'Usage' %}{% verbatim %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="{{ usage }}_tab">
                <div class="row">
                    <div class="col-xs-12" id="{{ usage }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}
