{% load i18n %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% trans 'UDS Configuration' %}</h1>
    <!--<ol class="breadcrumb">
      <li><a class="lnk-dashboard" href="#">Dashboard</a></li>
      <li>{% trans 'Configuration' %}</li>
    </ol>-->
  </div>
</div><!-- /.row -->
{% if messages %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% verbatim %}
<form id="form_config" class="form-horizontal" role="form">
    <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    {{# eachKey config }}
                    <li {{# if first }}class="active" {{/ if }}><a href="#section_{{ key }}" data-toggle="tab">{{ key }}</a>
                    {{/ eachKey }}
                </ul>
                <div class="row">
                    <div class="tab-content col-md-12 col-md-offset-0 col-lg-8 col-lg-offset-2">
                        {{# eachKey config }}
                        <div class="tab-pane {{# if first }}active{{/ if }}" id="section_{{ key }}">
                            {{ set_var "cfg_section" key }}
                            {{# eachKeySorted value }}
                            {{ set_var "cfg_key" key }}
                            {{# ifequals value.type 6 }}
                            <!-- hidden -->
                            {{ else }}
                            <div class="form-group">
                               <label for="fld_{{ clean_whitespace ../key }}{{ key }}" class="col-sm-5 control-label">{{ key }}</label>
                               <div class="col-sm-6">
                               {{# if value.crypt }}
                                   <div>
                                        <input type="password" class="form-control config-ctrl" data-section="{{ cfg_section }}" data-key="{{ cfg_key }}" value="€fa{}#42123~#||23|ßðđæ">
                                   </div>
                               {{ else }}
                                 {{# ifequals value.type 1 }}
                                 <textarea class="form-control config-ctrl" data-section="{{ cfg_section }}" data-key="{{ cfg_key }}" rows="3">{{ value.value }}</textarea>
                                 {{ else }}
                                   {{# ifequals value.type 3 }}
                                   <input type="checkbox" data-on-text="{% endverbatim %}{% trans 'Yes' %}{% verbatim %}" data-off-text="{% endverbatim %}{% trans 'No' %}{% verbatim %}" class="config-ctrl" {{# ifequals value.value 1 }} checked{{/ ifequals }} data-section="{{ cfg_section }}" data-key="{{ cfg_key }}">
                                   {{ else }}
                                     {{# ifequals value.type 4 }}
                                     <select class="selectpicker show-menu-arrow show-tick config-ctrl" data-style="btn-default" data-width="100%" id="{{ name }}_field" data-section="{{ cfg_section }}" data-key="{{ cfg_key }}">
                                       {{#each value.params }}
                                       <option value="{{ this }}"{{# ifequals this ../value.value }} selected{{/ ifequals }}>{{ this }}</option>
                                       {{/each}}
                                     </select>
                                     {{ else }}
                                     <div>
                                         <input type="{{# ifequals value.type 2 }}numeric{{ else }}text{{/ ifequals}}" {{# ifequals value.type 5 }}readonly{{/ ifequals }} class="form-control config-ctrl" data-section="{{ cfg_section }}" data-key="{{ cfg_key }}" value="{{ value.value }}">
                                     </div>
                                     {{/ ifequals }}
                                   {{/ ifequals }}
                                 {{/ ifequals }}
                               {{/ if }}
                               </div>
                            </div>
                            {{/ ifequals }}
                            {{ unset_var "cfg_key" }}
                            {{/ eachKeySorted }}
                        </div>
                        {{ unset_var "cfg_section" }}
                        {{/ eachKey }}
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-1">
            <button type="button" class="btn btn-success pull-right button-save">{% endverbatim %}{% trans 'Save' %}{% verbatim %}</button>
        </div>
    </div>
</form>
{% endverbatim %}
