{% load i18n html5 static %}

<div class="row">
  <div class="col-xs-12">
    <h1>{% trans 'Overview' %}</h1>
    <ol class="breadcrumb">
      <li><a id="lnk-dashboard" href="">Dashboard</a></li>
    </ol>
  </div>
</div><!-- /.row -->
{% if messages %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       {{ message }}  
    </div>
    {% endfor %}       
  </div>
</div>
{% endif %}
{% verbatim %}
<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <img class="info-img" src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}/adm/img/icons/users.png"/>
          </div>
          <div class="col-xs-9 text-right">
            <p class="announcement-heading">{{ users }}</p>
            <p class="announcement-text">{% endverbatim %}{% trans 'Users' %}{% verbatim %}</p>
          </div>
        </div>
      </div>
      <a class="lnk-authenticators" href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-10">
              {% endverbatim %}{% trans 'View Authenticators' %}{% verbatim %}
            </div>
            <div class="col-xs-2 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <img class="info-img" src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}/adm/img/icons/services.png"/>
          </div>
          <div class="col-xs-9 text-right">
            <p class="announcement-heading">{{ services }}</p>
            <p class="announcement-text">{% endverbatim %}{% trans 'Services' %}{% verbatim %}</p>
          </div>
        </div>
      </div>
      <a class="lnk-service_providers" href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-10">
              {% endverbatim %}{% trans 'View services' %}{% verbatim %}
            </div>
            <div class="col-xs-2 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <img class="info-img" src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}/adm/img/icons/assigned.png"/>
          </div>
          <div class="col-xs-9 text-right">
            <p class="announcement-heading">{{ user_services }}</p>
            <p class="announcement-text">{% endverbatim %}{% trans 'User services' %}{% verbatim %}</p>
          </div>
        </div>
      </div>
      <a class="lnk-deployed_services" href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-10">
              {% endverbatim %}{% trans 'View services pools' %}{% verbatim %}
            </div>
            <div class="col-xs-2 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-{{# if restrained_services_pools }}danger{{ else }}success{{/ if }}">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-heart fa-5x" style="color: #C03030;"></i>
          </div>
          <div class="col-xs-9 text-right">
            <p class="announcement-heading">{{ restrained_services_pools }}</p>
            <p class="announcement-text">{% endverbatim %}{% trans 'Restrained services pools' %}{% verbatim %}</p>
          </div>
        </div>
      </div>
      <a class="lnk-deployed_services" href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-10">
              {% endverbatim %}{% trans 'View services pools' %}{% verbatim %}
            </div>
            <div class="col-xs-2 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> {% endverbatim %}{% trans 'Assigned services graph' %}{% verbatim %}</h3>
      </div>
      <div class="panel-body">
        <div class="chart-medium">
          <div id="placeholder-assigned-chart" class="chart-content"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> {% endverbatim %}{% trans 'Used services graph' %}{% verbatim %}</h3>
      </div>
      <div class="panel-body">
        <div class="chart-medium">
          <div id="placeholder-inuse-chart" class="chart-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endverbatim %}