{% load i18n %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% trans 'Services' %}</h1>
    <!-- <ol class="breadcrumb">
      <li><a class="lnk-dashboard" href="#">Dashboard</a></li>
      <li>{% trans 'Services' %}</li>
    </ol> -->
  </div>
</div><!-- /.row -->
{% if messages %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% verbatim %}
<div class="row">
    <div id="{{ providers }}" class="col-xs-12"></div>
</div>
<div id="detail-placeholder" class="row hidden">
    <div class="col-xs-12">
        <ul class="bottom_tabs nav nav-tabs">
            <li class="active"><a href="#{{ provider_info }}" data-toggle="tab">{% endverbatim %}{% trans 'Overview' %}{% verbatim %}</a></li>
            <li><a href="#{{ services }}_tab" data-toggle="tab">{% endverbatim %}{% trans 'Services' %}{% verbatim %}</a></li>
            <li><a href="#{{ usage }}_tab" data-toggle="tab">{% endverbatim %}{% trans 'Usage' %}{% verbatim %}</a></li>
            <li><a href="#{{ logs }}" data-toggle="tab">{% endverbatim %}{% trans 'Logs' %}{% verbatim %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="{{ provider_info }}">
              <div class="row">
                <div class="col-xs-12">
                  <div class="well">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="{{ services }}_tab">
                <div class="row">
                    <div class="col-xs-12" id="{{ services }}">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="{{ usage }}_tab">
                <div class="row">
                    <div class="col-xs-12" id="{{ usage }}">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="{{ logs }}">...</div>
        </div>
    </div>
</div>

{% endverbatim %}
