{% load i18n %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% trans 'Service Pools' %}</h1>
    <!-- <ol class="breadcrumb">
      <li><a class="lnk-dashboard" href="#">Dashboard</a></li>
      <li>{% trans 'Service Pools' %}</li>
    </ol> -->
  </div>
</div><!-- /.row -->
{% if messages %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% verbatim %}
<div class="row">
    <div id="{{ deployed_services }}" class="col-xs-12"></div>
</div>
<div id="detail-placeholder" class="row hidden">
    <div class="col-xs-12">
        <ul class="bottom_tabs nav nav-tabs">
            <li class="active"><a href="#{{ pool_info }}" data-toggle="tab">{% endverbatim %}{% trans 'Overview' %}{% verbatim %}</a></li>
            <li><a href="#{{ assigned_services }}" data-toggle="tab">{% endverbatim %}{% trans 'Assigned services' %}{% verbatim %}</a></li>
            <li><a id="{{ cache }}_tab" href="#{{ cache }}" data-toggle="tab">{% endverbatim %}{% trans 'Cache' %}{% verbatim %}</a></li>
            <li><a href="#{{ groups }}" data-toggle="tab">{% endverbatim %}{% trans 'Groups' %}{% verbatim %}</a></li>
            <li><a href="#{{ transports }}" data-toggle="tab">{% endverbatim %}{% trans 'Transports' %}{% verbatim %}</a></li>
            <li><a id="{{ publications }}_tab" href="#{{ publications }}" data-toggle="tab">{% endverbatim %}{% trans 'Publications' %}{% verbatim %}</a></li>
            <li><a id="{{ actions }}_tab" href="#{{ actions }}" data-toggle="tab">{% endverbatim %}{% trans 'Scheduled actions' %}{% verbatim %}</a></li>
            <li><a id="{{ access }}_tab" href="#{{ access }}" data-toggle="tab">{% endverbatim %}{% trans 'Access Calendars' %}{% verbatim %}</a></li>
            <li><a href="#{{ logs }}" data-toggle="tab">{% endverbatim %}{% trans 'Logs' %}{% verbatim %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="{{ pool_info }}">
              <div class="row">
                <div class="col-xs-12">
                  <div class="well">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="{{ assigned_services }}">
                <div class="row">
                    <div class="col-xs-12" id="{{ assigned_services }}_tbl">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="{{ assigned_services }}_log">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="{{ cache }}">
                <div class="row">
                    <div class="col-xs-12" id="{{ cache }}_tbl">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="{{ cache }}_log">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="{{ groups }}">...</div>
            <div class="tab-pane fade" id="{{ transports }}">...</div>
            <div class="tab-pane fade" id="{{ publications }}">
                <div id="{{ publications }}_tbl">
                </div>
                <div id="{{ changelog }}">
                </div>
            </div>
            <div class="tab-pane fade" id="{{ actions }}">...</div>
            <div class="tab-pane fade" id="{{ access }}">...</div>
            <div class="tab-pane fade" id="{{ logs }}">...</div>
        </div>
    </div>
</div>
{% endverbatim %}
