<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UdsAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UdsAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <UdsAdmin.Properties.Settings>
            <setting name="Locale" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="wUsernameCol" serializeAs="String">
                <value>93</value>
            </setting>
            <setting name="wNameCol" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="wStateCol" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="wLastAccessCol" serializeAs="String">
                <value>93</value>
            </setting>
            <setting name="wCommentsCol" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MaxControlWidth" serializeAs="String">
                <value>320</value>
            </setting>
        </UdsAdmin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <UdsAdmin.Properties.Settings>
            <setting name="StatsItems" serializeAs="String">
                <value>200</value>
            </setting>
        </UdsAdmin.Properties.Settings>
    </applicationSettings>
</configuration>
