/*.uds-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.uds-content {
  flex: 1;
}*/

footer {
  text-align: right;
}


# cookiebar
#cookie-bar {
  background: #333333;
  height: 30px;
  line-height: 24px;
  color: #eeeeee;
  text-align: center;
  padding: 3px 0;
}
#cookie-bar.fixed {
  background: #333333;
  height: 30px;
  line-height: 24px;
  color: #eeeeee;
  text-align: center;
  padding: 3px 0;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
}
#cookie-bar p {
  margin: 0;
  padding: 0;
}
#cookie-bar a {
  color: #ffffff;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  padding: 0 6px;
  margin-left: 8px;
}
#cookie-bar .cb-enable {
  background: #007700;
}
#cookie-bar .cb-enable:hover {
  background: #009900;
}
#cookie-bar .cb-disable {
  background: #990000;
}
#cookie-bar .cb-disable:hover {
  background: #bb0000;
}
#cookie-bar .cb-policy {
  background: #0033bb;
}
#cookie-bar .cb-policy:hover {
  background: #0055dd;
}

@media (max-width: 768px) {
  #cookie-bar {
    height: 60px;
  }
}
