[Unit]
Description=UDS Broker actor
After=network.target

[Service]
KillMode=mixed
Type=simple
User=root
Group=root
WorkingDirectory=/usr/share/UDSActor
ExecStart=/usr/bin/python3 actor_service.py start-foreground
PrivateTmp=true

[Install]
WantedBy=multi-user.target