{% extends "uds/html5/templates/base.html" %}
{% load i18n static %}

{% block title %}{% trans 'The service is not ready' %}{% endblock %}
{% block css %}
		<style>
		.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
		</style>
{% endblock %}
{% if fromLauncher %}
{% block menu %}{% endblock %}
{% endif %}
{% block body %}
      <div class="jumbotron center">
          <h1> {% trans 'The service is not ready' %}</h1>
          <br />
          <p>{% trans 'The service is not ready at this moment. Please, try it again after a few seconds.' %}</p>
          <h5>{% trans 'The service you have requested was not ready, and it is being created right now. It will be availabe shortly' %}</h5>
          {% if not fromLauncher %}
          <br />
          <a href="{% url 'uds.web.views.index' %}" class="btn btn-lg btn-info"><i class="fa fa-home"></i> {% trans "Back" %}</a>
          {% else %}
          <p class="text-danger">{% trans 'Please, close this window and relaunch again after a while.' %}</p>
          {% endif %}
        </div>
{% endblock %}