@CHARSET "UTF-8";

html, body {
	height: 100%;
}

body {
  padding-top: 60px;
}
@media (max-width: 979px) {
	body {
	  padding-top: 0px;
	}
}

.st-sticky-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* Change height. Can use px, ems or % */
    
    @media (min-width: 768px) {
         margin: 0 auto -24px; /* Change height. Can use px, ems or % */
    }
}

.st-sticky-push,
footer {
    height: 40px; /* Change height. Can use px, ems or % */
    
    @media (min-width: 768px) {
        height: 40px; /* Change height. Can use px, ems or % */
    }
}

footer {
	text-align: right;
	margin-right: 16px;
}

/* Sample "info" (footer) text, to be placed after (c) Virtualcable */
/*footer a:after {
	content: "Testing text";
}*/


/* Login form */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin
{
    margin-bottom: 10px;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
}

/* Preferences form */
.form-preferences {
    margin-bottom: 10px;
	max-width: 640px;
    margin: 0 auto;
}

.form-preferences legend {
	margin-top: 20px;
	padding-left: 16px;
    background-color: #e7e7e7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	}

.form-preferences .prefset {
	padding: 10px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-preferences .btn {
	margin-top: 16px;
}
