{% load i18n html5 static %}
{% if user and user.pk != None %}
<div class="ui dropdown item">
  <i class="user icon"></i> {{ user.real_name }}
  <i class="dropdown icon"></i>
  <div class="menu">
      {% if show_prefs and user.id != rootid %}
      <a class="item" href="{% url "uds.web.views.prefs" %}"><i class="edit icon"></i> {% trans 'Preferences' %}</a>
      {% endif %}
      <a class="item" href="{% url "ClientDownload" %}"><i class="disk download icon"></i> {% trans 'UDS Plugin' %}</a>
      {% if user.staff_member or user.is_admin %}
      <a class="item" href="{% url "uds.web.views.download" idDownload='' %}"><i class="cloud download icon"></i> {% trans 'Downloads' %}</a>
      <a class="item" href="{% url "uds.admin.views.index" %}"><i class="dashboard icon"></i> {% trans 'Dashboard' %}</a>
      {% endif %}
      <a class="item" href="{% url "uds.web.views.logout" %}"><i class="toggle off icon"></i> {% trans 'Logout' %}</a>
  </div>
</div>
{% endif %}
