# Broker (and common)
# Latest versions should work fine with master branch
Django>5.2
pillow
cairosvg
bitarray
numpy
html5lib
cryptography
python3-saml
six
dnspython
lxml
ovirt-engine-sdk-python
pycurl
matplotlib
mysqlclient
python-ldap
paramiko
pyOpenSSL
pyrad
defusedxml
python-dateutil
requests
WeasyPrint
webencodings
xml-marshaller
ipython
pyvmomi
XenAPI
PyJWT
pylibmc
gunicorn
python-dateutil
pywinrm
pywinrm[credssp]
whitenoise
setproctitle
openpyxl
boto3
uvicorn[standard]
numpy
pandas
xxhash
psutil
pyyaml
pyotp
qrcode
qrcode[pil]
art
# For tunnel
dnspython
aiohttp
uvloop
argon2-cffi
# psycopg2
