{% load i18n html5 static %}
 		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">{% trans 'Toggle navigation' %}</span>
	   				<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	  			</button>
          <a class ="navbar-brand lnk-dashboard" href="#">
            <img alt="Universal Desktop Services" src="{% get_static_prefix %}img/udsicon.png" class="navbar-img pull-left">
            <!-- <span>Universal Desktop Services</span> -->
          </a>
			</div>
            
    <!-- Side bar -->
     <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="side-nav">
          <div class="switcher fa"> </div>
            <ul class="nav navbar-nav">
              <li><a class="lnk-dashboard" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/dashboard-monitor.png"/> <span class="menu-lnk">{% trans 'Overview' %}</span></a></li>
              <li><a class="lnk-service_providers" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/providers.png"/> <span class="menu-lnk">{% trans 'Services' %}</span></a></li>
              <li><a class="lnk-authenticators" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/authenticators.png"/> <span class="menu-lnk">{% trans 'Authenticators' %}</span></a></li>
              <li><a class="lnk-osmanagers" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/osmanagers.png"/> <span class="menu-lnk">Os Managers</span></a></li>
              <li><a class="lnk-connectivity" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/transports.png"/> <span class="menu-lnk">{% trans 'Connectivity' %}</span></a></li>
              <li><a class="lnk-calendars" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/calendars.png"/> <span class="menu-lnk">{% trans 'Calendars' %}</span></a></li>
              <li><a class="lnk-deployed_services" href=""><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/pools.png"/> <span class="menu-lnk">{% trans 'Service Pools' %}</span></a></li>
              {% if admin %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/tools.png"/> <span class="menu-lnk">{% trans 'Tools' %} <b class="caret"></b></span></a>
                <ul class="dropdown-menu">
                  <li><a class="lnk-gallery" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/gallery.png"/> <span class="menu-lnk">{% trans 'Gallery' %}</span></a></li>
                  <li><a class="lnk-reports" href=""><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/reports.png"/> <span class="menu-lnk">{% trans 'Reports' %}</a></span></li>
                  <li><a class="lnk-configuration" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/configuration.png"/> <span class="menu-lnk">{% trans 'Configuration' %}</span></a></li>
                  <li><a class="lnk-clear_cache" href="#"><img class="icon" src="{{ STATIC_URL }}/adm/img/icons/flush-cache.png"/> <span class="menu-lnk">{% trans 'Flush cache' %}</span></a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        
          <ul class="nav navbar-nav navbar-right navbar-user">
          </ul>
          <form id="form_language" action="{% url "django.views.i18n.set_language" %}" method="post">
          {% csrf_token %}
          <input id="id_language" type="hidden" name="language" value=""/>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              {% for lang in LANGUAGES %}
              {% if lang.0  == LANGUAGE_CODE %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><!--<i class="glyphicon bfh-flag-{{ lang.0|country }}"></i>-->
                <i class="fa fa-comments-o"></i> {% trans lang.1|capfirst %}<b class="caret"></b>
              </a>
              {% endif %}
              {% endfor %}
              <ul class="dropdown-menu">
                {% for lang in LANGUAGES %}
                {% if lang.0  != LANGUAGE_CODE %}
                <!--  here we force an update of locale of REST api -->
                <li><a href="#" onclick='$("#id_language").val("{{ lang.0 }}"); $("#form_language").submit();'>{% trans lang.1|capfirst %}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-dashboard"></i> {{ user.real_name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'uds.web.views.index' %}"><span class="fa fa-user"></span> {% trans 'User mode' %}</a></li>
                  <li><a href="/logout"><span class="fa fa-power-off text-danger"></span> {% trans 'Logout' %}</a></li>
              </ul>
            </li>

          </ul>
          </form>
          
       </div>
			
		</nav>
