{% load i18n %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/uds/res/modern/img/favicon.png" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title data-i18n="uds:documentation">Documentation</title>

    <link href="/uds/res/modern/fonts/material-icons.css" rel="stylesheet" />
    <link href="/uds/res/modern/fonts/roboto.css" rel="stylesheet" />
    <!-- Material styles -->
    <link href="/uds/res/modern/styles.css" rel="stylesheet" />
    <style>
        .doc {
            padding: 20px;
        }
        .doc-item {
            margin-bottom: 20px;
        }
        .doc-item-methods {
            margin-left: 20px;
        }
        .doc-item-method {
            margin-bottom: 10px;
        }
    </style>
  </head>
  <body>
    <div>
        <div class="header">
            <div class="header-logo">
                <a href="/"><img src="/uds/res/modern/img/logo.png" alt="UDS" /></a>
            </div>
            <div class="header-title">
                <h1 data-i18n="uds:documentation">Documentation</h1>
            </div>
        </div>
        <!-- doc contains the list of helps -->
        <div class="doc">
            {% for h in help %}
            <div>{{ h }}</div>
            <div class="doc-item">
                {% if h.methods %}
                <div class="doc-item-methods">
                    {% for m in h.methods %}
                      <div class="doc-item-method">{{ h.path }}/{{ m.value.method }} : {{ m.value.text }}</div>
                    {% endfor %}
                </div>
                {% else %}
                <div>{{ h.path }} : {{ h.text }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="debug">
            <div class="debug-title">Debug</div>
            <div class="debug-content">
                <div>Language: {{ LANGUAGE_CODE }}</div>
            </div>
            <div class="vars">
                <div class="vars-title">Vars</div>
                <div class="vars-content">
                    <div>help</div>
                    <div>
                        {% for h in help %}
                        <div>{{ h }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
