{% extends "uds/html5/templates/base.html" %}
{% load i18n html5 static %}

{% block title %}{% trans 'Service launcher' %}{% endblock %}
{% block menu %}{% endblock %}

{% block body %}
        <div class="jumbotron text-center service bg-primary" data-href="{{ link }}">
            <h1> {% trans 'UDS Service launcher' %}</h1>
            <br />
            <p>{% trans 'The service you have requested is being launched.' %}</p>
            <h5>{% trans 'Please, note that reloading this page will not work.' %}</h5>
            <h5>{% trans 'To relaunch service, you will have to do it from origin.' %}</h5>
            </p>
            <br />
            <h6>{% trans 'If the service does not launchs automatically, probably you dont have the UDS plugin installed' %}</h6>
            <h6>{% trans 'You can obtain it from the' %} <a href="{% url 'uds.web.views.client_downloads' %}">{% trans 'UDS Plugin download page' %}</a></h6>
        </div>  
{% endblock %} 


{% block js %}
        <script>
        function launchURL(el) {
            var $el = $(el);
            url = $el.attr('data-href');
            url = url != null ? url : $el.attr('href');
            if ( url.substring(0, 7) == 'udsa://' ) {
                uds.launch($el);
            } else {
                window.location = url;
            }
        }

        $(function() {
            launchURL($('.service')[0]);
        });
        </script>
{% endblock %}
