<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Basic config -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Guacamole Tunnel Servlet -->
    <servlet>
        <description>Tunnel Servlet</description>
        <servlet-name>Tunnel</servlet-name>
        <servlet-class>
           org.openuds.guacamole.TunnelServlet
        </servlet-class>
    </servlet>

    <servlet>
        <description>Credentials Servlet</description>
        <servlet-name>Credentials</servlet-name>
        <servlet-class>
           org.openuds.guacamole.CredentialsServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Tunnel</servlet-name>
        <url-pattern>/tunnel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Credentials</servlet-name>
        <url-pattern>/creds</url-pattern>
    </servlet-mapping>

</web-app>
