Source: udsactor-nx
Section: contrib/net
Priority: extra
Maintainer: Adolfo Gómez García <agomez@virtualcable.es>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: http://www.virtualcable.es

Package: udsactor-nx
Architecture: all
Depends: nxnode (>= 3.5.0), udsactor (>= 1.0), ${misc:Depends}
Description: UDS Actor component for nx
 This package provides connection between uds actor and nx 
 
