{% extends 'uds/admin/templates/base.html' %}

{% block css %}
        <style media="screen">
        </style>
{% endblock %}

{% block js %}
    <script>
        $(function() {
        	
        	// Preload styles for service providers
        	api.providers.types(function(data){
        		var styles = '<style media="screen">';
        		$.each(data, function(index, value){
        			var style = '.prov-' + value.type + 
        				' { display:inline-block; background: url(data:image/png;base64,' + value.icon + '); ' +
        				'width: 16px; height: 16px; } ';
        			styles += style;
        		});
        		styles += '</style>'
        		$(styles).appendTo('head');
        	});
        	
        	api.providers.list(function(data){
            	$('#content').html( '<div class="well"><table class="display" id="providers_table"></table></div>' );
            	var arr = [];
            	$.each(data, function(index, value){
            		arr.push([value.name, value.type_name, value.services_count]);
            	});
                $('#providers_table').dataTable( {
                    "aaData": arr,
                    "aoColumns": [
                        { "sTitle": "Name" },
                        { "sTitle": "Type" },
                        { "sTitle": "Number of Services" },
                    ]
                } );            	
        	});
        });
    </script>
{% endblock %}

{% block body %}
{% endblock %}