{% load l10n i18n static html5 REST %}{% spaceless %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>{% endspaceless %}
<html lang='{{LANGUAGE_CODE}}'>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow" />

        <link href="{% get_static_prefix %}img/favicon.ico" rel="icon" type="image/x-icon" />

        <!-- Bootstrap -->
        <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{% get_static_prefix %}css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href="{% get_static_prefix %}css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
        <link href="{% get_static_prefix %}css/bootstrap-switch.css" rel="stylesheet" media="screen">

        <link href="{% get_static_prefix %}adm/css/jquery.dataTables.css" rel="stylesheet" media="screen">
        <link href="{% get_static_prefix %}adm/css/TableTools.css" rel="stylesheet" media="screen">
        <link href="{% get_static_prefix %}adm/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">
        
        <link href="{% get_static_prefix %}css/tables.css" rel="stylesheet" media="screen">
        <link href="{% get_static_prefix %}adm/css/buttons.css" rel="stylesheet" media="screen">
        <link href="{% get_static_prefix %}adm/css/uds-admin.css" rel="stylesheet" media="screen">
    </head>
    
    <body>
        <!-- Navigation bar -->
        <div id="wrapper">
        
        {% block menu %}{% include 'uds/admin/snippets/navbar.html' %}{% endblock %}
        <!-- End of menu -->
                <!-- Content -->
                 <div id="page-wrapper">
                    <div id="content">
                    {% block body %}{% endblock %}
                    </div>
                    <div class="row">
                        <div id="minimized" class="col-lg-12">
                        </div>
                    </div>
                </div>
                <!--  End of content -->
        </div>
        </div>
        <script src="{% url 'uds.web.views.jsCatalog' LANGUAGE_CODE %}"></script>
        
        <script src="{% get_static_prefix %}js/jquery-1.10.2.min.js"></script>
        <script src="{% get_static_prefix %}js/jquery.cookie.js"></script>
        <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
        <script src="{% get_static_prefix %}js/bootstrap-switch.min.js"></script>
        <script src="{% get_static_prefix %}adm/js/jquery.blockUI.js"></script>
        <script src="{% get_static_prefix %}adm/js/jquery.dataTables.min.js"></script>

        <script src="{% get_static_prefix %}adm/js/TableTools.min.js"></script>

        <!--  for "save" from javascript -->
        <script src="{% get_static_prefix %}adm/js/Blob.js"></script>
        <script src="{% get_static_prefix %}adm/js/FileSaver.js"></script>
        
<!--         <script src="{% get_static_prefix %}adm/js/ZeroClipboard.js"></script> -->
        
        <script src="{% get_static_prefix %}adm/js/dataTables.bootstrap.js"></script>
        
        <script>
            // Initialize a few settings, needed for api to work
            (function(api, $, undefined){
                api.token = "{% auth_token %}";
                api.auth_header = "{% auth_token_header %}";
                api.base_url = "{% url 'REST' '' %}";
                api.template_url = "{% url 'uds.admin.views.tmpl' '' %}";
                api.img_url = "{% get_static_prefix %}adm/img/";
                
                api.url_for = function(path) {
                    return api.base_url + path;
                }
                
            }(window.api = window.api || {}, jQuery));
        </script>

        <!-- First all api related stuff -->        
        <script src="{% get_static_prefix %}adm/js/api.js"></script>

        <!-- utilities attached to api -->
        <script src="{% get_static_prefix %}adm/js/api-tools.js"></script>
        
        <!--  templates related, inserts itself into api -->
        <script src="{% get_static_prefix %}adm/js/api-templates.js"></script>
        
        <!--  export to xls, inserts itself into api -->
        <script src="{% get_static_prefix %}adm/js/api-spreadsheet.js"></script>
        
        <script src="{% get_static_prefix %}adm/js/gui.js"></script>
        <script src="{% get_static_prefix %}adm/js/gui-fields.js"></script>
        
        <!-- user interface management -->
        <script src="{% get_static_prefix %}adm/js/gui-elements.js"></script>
        
        <script>
            $(function() {
    			// Initialize gui
            	gui.init();
            	
            });        
        </script>
        {% block js %}{% endblock %}
        {% js_template_path 'uds/admin/tmpl' %}
        <!-- preloading of templates -->
        <!-- page contents -->
        {% js_template 'dashboard' %}
        {% js_template 'authenticators' %}
        <!-- components -->
        {% js_template 'table' %}
        {% js_template 'modal' %}
        <!-- fields -->
        {% js_template 'fld/checkbox' %}
        {% js_template 'fld/choice' %}
        {% js_template 'fld/editlist' %}
        {% js_template 'fld/hidden' %}
        {% js_template 'fld/multichoice' %}
        {% js_template 'fld/numeric' %}
        {% js_template 'fld/password' %}
        {% js_template 'fld/text' %}
        {% js_template 'fld/textbox' %}
        
    </body>
</html>