[Unit]
Description=The UDSPRoxy Server 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=Simple
ExecStart=/usr/bin/udsproxy
ExecStop=/bin/kill $MAINPID
PrivateTmp=true
Restart=on-abort

[Install]
WantedBy=multi-user.target
