[Desktop Entry]
Name=UDS Actor Tool
Comment=UDS Actor Userspace tools
Exec=/usr/bin/UDSActorTool-startup
Icon=/usr/share/pyshared/UDSActor/img/uds.png
Terminal=false
Type=Application
NoDisplay=true