.dataTables_wrapper {
  overflow-x: hidden;
}

table.dataTable thead .sorting {
  background-image: url("../img/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../img/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../img/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../img/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../img/sort_desc_disabled.png");
}

table.dataTable {
  border-collapse: inherit;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
  background-color: lighten($table-bg-active, 30%);
  &:hover {
    background-color: $table-bg-hover;
  }
}

tr.even:not(.selected):not(:hover) {
  .sorting_1 {
    background-color: darken(#FFFFFF, 5%);
  }
}

tr.odd:not(.selected):not(:hover) {
  .sorting_1 {
    background-color: darken($table-bg-accent, 5%);
  }
}