/*
This states displays as default
*/

.row-maintenance-true {
  color: lighten($brand-danger, 20%);
}

.log-WARN {
  color: $brand-warning;
}

.log-DEBUG {
  color: $brand-success;
}

.log-INFO, .log-OTHER {
  color: $brand-info;
}

.log-ERROR, &.log-FATAL {
  color: $brand-danger;
}

// To position correctly things
.btn-tables {
  margin-top: 0px;
  margin-botton: 8px;
  margin-right: 8px;
}

.btns-tables {
  float: left;
}

.dataTables_info {
  float: left;
}

.dataTables_paginate {
  float: right;
}

 *.table {
  color: #00496b;
  border: 1px solid $brand-primary;
  // $font-family-monospace
  // $font-family-serif
  // $font-family-sans-serif
  // font-family: $font-family-monospace;
  // font-size: $font-size-large;
 }

/*.table tbody tr.selected {
    background-color: $uds-color-blue;
    color: $brand-warning;
    &:hover {
      background-color: $uds-color-blue-dark;
    }
}*/

/*.table-striped > tbody > tr {
  td.sorting_1 {
    color: $uds-color-blue;
  }
}*/


.dataTables_wrapper {
  overflow-x: hidden;
}

.uds-table {
    min-height: $uds-panel-min-height;
}

@media (max-width: 768px) {
  .label-tbl-button {
    display: none;
  }
  
  .uds-table {
    min-height: 0px;
  }

}
