// fixes breadcrumb for using
.breadcrumb {
  > li {
    + li:before {
      content: "/ "; // Unicode space added since inline-block means non-collapsing white-space
    }
  }
}

.bootstrap-timepicker-widget a.btn, .bootstrap-timepicker-widget input {
  background: $input-bg;
  border-color: $brand-primary;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
}

.bootstrap-timepicker-widget table td a {
  color: $brand-primary;
}
