// Own variables
$sidebar-size: 225px;
$sidebar-size-collapsed: 40px;
$sidebar-top: 50px;

$uds-background-color: #252830;
$uds-background-color-light: #434857;
$uds-background-color-lighter: #444444;
$uds-foreground-color: #ffffff;

$uds-color: #1CA8DD;


// Bootstrap
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$text-color: $uds-foreground-color;
$body-bg: $uds-background-color;

$headings-color: $uds-foreground-color;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$navbar-inverse-bg: $uds-background-color;
$navbar-inverse-border: $uds-background-color;
$navbar-inverse-link-hover-bg: $uds-background-color-light;
$navbar-inverse-link-active-bg: $uds-background-color-light;

$modal-content-bg: $uds-background-color-light;


$btn-default-color: $uds-foreground-color;
$btn-default-bg: $uds-background-color;
$btn-default-border: $uds-background-color-light;


$pagination-color: $uds-color;
$pagination-hover-color: $uds-foreground-color;
$pagination-disabled-color: $uds-foreground-color;

$pagination-bg: $uds-background-color;
$pagination-hover-bg: $uds-background-color;
$pagination-disabled-bg: $uds-background-color;

$pagination-border: $uds-color;
$pagination-disabled-border: $uds-background-color-light;
$pagination-hover-border: $uds-color;

$pagination-diabled-border: $uds-color;


$breadcrumb-separator: ' -> ';
$breadcrumb-bg: $uds-background-color;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url(DroidSansMono.woff2) format('woff2');
}

// Fix for firefox for fieldsets
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

body {
  font-family: 'Droid Sans Mono', sans-serif;
  background-color: $uds-background-color;
  margin-top: 50px;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Custom */

.btn3d-tables {
  margin-top: 0px;
  margin-botton: 8px;
  margin-right: 8px;
}

.btn-group-3d {
  margin-bottom: 12px;
}

.label-tbl-button {
  display: none;
}

/* collapsable && closeable pannels */

.chevron {
  &:before {
    content: "\f139";
  }

  &.collapsed:before {
    content: "\f13a";
  }
}

.panel-icon {
  margin-left: 0.6em !important;
  cursor: pointer;
}

.table-icon {
  width: 1.2em;
  padding-bottom: 3px;
}

.info-img {
  width: 5em;
}

.navbar-img {
  width: 2em;
  margin-top: -8px;
}

.cursor-pointer {
  cursor: pointer !important;
}

#minimized {
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

/* modal dialogs & related*/

.modal-dialog {
  /* new custom width */
  width: 90%;
}

/*.modal-backdrop {
  background-color: gray;
}*/

.modal {
  overflow-y: auto;
}

.tab-pane {
  margin-top: 24px;
}

.tooltip {
  z-index: 2014;
}

/* Tables */

/* Logs */

.chart-big {
  display: block;
  height: 400px;
}

.chart-medium {
  display: block;
  height: 250px;
}

.chart-small {
  display: block;
  height: 100px;
}

/* End tables styling */
/* Charts */

.chart-content {
  width: 100%;
  height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width: 768px) {
  /* Wrappers */

  #wrapper {
    padding-left: 64px;
  }

  #page-wrapper {
    padding: 15px 25px;
  }

  /* Side Nav */

  .side-nav {
    margin-left: -$sidebar-size;
    left: $sidebar-size;
    width: $sidebar-size-collapsed;
    position: fixed;
    top: $sidebar-top;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: $uds-background-color;
    overflow-y: auto;
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;

    &:hover {
      width: $sidebar-size;
    }


    > li {
      &.dropdown > ul.dropdown-menu {
        position: relative;
        min-width: $sidebar-size;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;

        > li > a {
          color: #999999;
          padding: 15px 15px 15px 25px;

          &:hover, &.active, &:focus {
            color: #fff;
            background-color: #080808;
          }
        }
      }

      > a {
        width: $sidebar-size;
      }
    }
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  /*.navbar-inverse .navbar-nav > li > a {
    &:hover, &:focus {
      background-color: #080808;
    }
  }*/

  .label-tbl-button {
    display: inline-block;
  }

  .modal-dialog {
    /* new custom width */
    width: 60%;
  }
}


/* theme */

@import "_theme";
@import "_widgets";
@import "_data-tables";
@import "_tables";
