{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			{% block title %} {% trans "UDS" %}{% endblock %}
		</title>

		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
		<meta name="robots" content="noindex, nofollow" />
		<meta name="author" content="Adolfo Gómez" />
		<!-- Adolfo Gómez -->
		<link rel="shortcut icon" type="image/x-png" href="{% get_static_prefix %}img/favicon.ico" />

		<link rel="stylesheet" href="{% get_static_prefix %}css/reset.css" media="screen,projection,print" type="text/css" />
		<link rel="stylesheet" href="{{ css_path }}" media="screen,projection" type="text/css" />

		<link rel="stylesheet" href="{% get_static_prefix %}css/smoothness/jquery-ui-1.8.17.custom.css" media="screen,projection" type="text/css" />

		<!-- <link rel="stylesheet" href="" media="print" type="text/css" /> -->

	    <!-- Javascript -->
		<script src="{% get_static_prefix %}js/jquery-1.7.1.min.js" type="text/javascript" ></script>
		<script src="{% get_static_prefix %}js/jquery-ui-1.8.17.custom.min.js" type="text/javascript" ></script>
		{% block script %}{% endblock %}
	</head>

	<body>
		<div id="header">
		{% block top %}
		{% endblock %}
		</div>

		<div id="content">
		{% block content %}
				Contenido
		{% endblock %}
		</div><!-- content -->

		<div id="footer">
		{% block footer %}
			<div id="vcable"><a href="http://www.virtualcable.es">&copy; 2012 Virtual Cable S.L.</a> </div>
		{% endblock %}
		</div><!-- footer -->

	</body>
</html>