[Desktop Entry]
Name=UDSClient
Comment=UDS Helper
Keywords=uds;client;vdi;
OnlyShowIn=GNOME;Unity;
Exec=/home/dkmaster/projects/uds/openuds/client/linux/test.py %u
Icon=help-browser
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
MimeType=x-scheme-handler/uds;x-scheme-handler/udss;
